In [3]:
# import packages
import pandas as pd
import numpy as np
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:,.6f}'.format

### Load Covid Symptom Data and Prep

In [4]:
# Load Data
positive_data = pd.read_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/positive_condition_categorical.csv')
negative_data = pd.read_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/negative_condition_categorical.csv')
all_data =  positive_data.append(negative_data, ignore_index=True)

all_data.head()

,Unnamed: 0,35211292,35207924,45534424,133835,35207977,134668,138384,35208543,35208542,...,37200942,45601843,45562105,45541003,45555454,45541002,35208428,4199522,37309673,45533619
0,0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,3,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,4,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [5]:
all_data = all_data.fillna(value=0)
all_data = all_data.drop(['Unnamed: 0'], axis=1)

In [6]:
positive_data.shape

(910, 9227)

In [7]:
negative_data.shape

(6339, 24059)

In [8]:
positive_data.shape[0]+negative_data.shape[0]

7249

In [9]:
# Shape
all_data.shape

(7249, 24961)

In [10]:
all_data['target']

0       1
1       1
2       1
3       1
4       1
       ..
7244    0
7245    0
7246    0
7247    0
7248    0
Name: target, Length: 7249, dtype: int64

### Begin Modeling <a name="beginModel"></a>

<a name="woe"></a>

<div class="alert alert-info">
<b>Transformations, Weight of Evidence, & Information Value</b>
</div>

#### Set up Weight of Evidence Transform
following https://github.com/Sundar0989/WOE-and-IV/blob/master/WOE_IV.ipynb

In [11]:
# binning function
max_bin = 20
force_bin = 0

# define a binning function
def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [12]:
all_data.columns

Index(['35211292', '35207924', '45534424', '133835', '35207977', '134668',
       '138384', '35208543', '35208542', '35206859',
       ...
       '37200942', '45601843', '45562105', '45541003', '45555454', '45541002',
       '35208428', '4199522', '37309673', '45533619'],
      dtype='object', length=24961)

In [13]:
# remove severity columns
all_data_clean = all_data.drop(['person_id'], axis=1)

In [14]:
# Transform
final_symptom_iv, symptom_iv = data_vars(all_data_clean,all_data_clean.target)

/share/apps/rc/software/Anaconda3/2020.02/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [15]:
symptom_iv.to_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/condition_code_iv.csv')

In [23]:
# preview Weights Table
final_symptom_iv

,VAR_NAME,MIN_VALUE,MAX_VALUE,COUNT,EVENT,EVENT_RATE,NONEVENT,NON_EVENT_RATE,DIST_EVENT,DIST_NON_EVENT,WOE,IV
0,J,0.000000,0.000000,2819,310,0.109968,2509,0.890032,0.344828,0.400479,-0.149616,0.013266
1,J,1.000000,1.000000,4345,589,0.135558,3756,0.864442,0.655172,0.599521,0.088767,0.013266
2,L,0.000000,0.000000,4772,612,0.128248,4160,0.871752,0.680756,0.664006,0.024913,0.001274
3,L,1.000000,1.000000,2392,287,0.119983,2105,0.880017,0.319244,0.335994,-0.051138,0.001274
4,B,0.000000,0.000000,4701,510,0.108488,4191,0.891512,0.567297,0.668955,-0.164833,0.043980
5,B,1.000000,1.000000,2463,389,0.157937,2074,0.842063,0.432703,0.331045,0.267796,0.043980
6,Z,0.000000,0.000000,2691,521,0.193608,2170,0.806392,0.579533,0.346369,0.514718,0.222880
7,Z,1.000000,1.000000,4473,378,0.084507,4095,0.915493,0.420467,0.653631,-0.441177,0.222880
8,N,0.000000,0.000000,2903,427,0.147089,2476,0.852911,0.474972,0.395211,0.183835,0.025943
9,N,1.000000,1.000000,4261,472,0.110772,3789,0.889228,0.525028,0.604789,-0.141428,0.025943
10,D,0.000000,0.000000,2799,478,0.170775,2321,0.829225,0.531702,0.370471,0.361308,0.105957
11,D,1.000000,1.000000,4365,421,0.096449,3944,0.903551,0.468298,0.629529,-0.295867,0.105957
12,K,0.000000,0.000000,2732,448,0.163982,2284,0.836018,0.498331,0.364565,0.312560,0.073428
13,K,1.000000,1.000000,4432,451,0.101760,3981,0.898240,0.501669,0.635435,-0.236370,0.073428
14,F,0.000000,0.000000,2928,510,0.174180,2418,0.825820,0.567297,0.385954,0.385166,0.133321
15,F,1.000000,1.000000,4236,389,0.091832,3847,0.908168,0.432703,0.614046,-0.350019,0.133321
16,M,0.000000,0.000000,2896,399,0.137776,2497,0.862224,0.443826,0.398563,0.107567,0.008410
17,M,1.000000,1.000000,4268,500,0.117151,3768,0.882849,0.556174,0.601437,-0.078241,0.008410
18,I,0.000000,0.000000,2066,350,0.169409,1716,0.830591,0.389321,0.273903,0.351633,0.060566
19,I,1.000000,1.000000,5098,549,0.107689,4549,0.892311,0.610679,0.726097,-0.173113,0.060566
20,S,0.000000,0.000000,4460,653,0.146413,3807,0.853587,0.726363,0.607662,0.178431,0.063950
21,S,1.000000,1.000000,2704,246,0.090976,2458,0.909024,0.273637,0.392338,-0.360321,0.063950
22,H,0.000000,0.000000,5726,740,0.129235,4986,0.870765,0.823137,0.795850,0.033712,0.004835
23,H,1.000000,1.000000,1438,159,0.110570,1279,0.889430,0.176863,0.204150,-0.143479,0.004835
24,Q,0.000000,0.000000,6597,845,0.128089,5752,0.871911,0.939933,0.918117,0.023485,0.007272
25,Q,1.000000,1.000000,567,54,0.095238,513,0.904762,0.060067,0.081883,-0.309841,0.007272
26,Y,0.000000,0.000000,6683,844,0.126291,5839,0.873709,0.938821,0.932003,0.007288,0.000770
27,Y,1.000000,1.000000,481,55,0.114345,426,0.885655,0.061179,0.067997,-0.105655,0.000770
28,O,0.000000,0.000000,6330,848,0.133965,5482,0.866035,0.943270,0.875020,0.075106,0.059034
29,O,1.000000,1.000000,834,51,0.061151,783,0.938849,0.056730,0.124980,-0.789856,0.059034
30,P,0.000000,0.000000,7035,895,0.127221,6140,0.872779,0.995551,0.980048,0.015695,0.023506
31,P,1.000000,1.000000,129,4,0.031008,125,0.968992,0.004449,0.019952,-1.500569,0.023506
32,C,0.000000,0.000000,5902,797,0.135039,5105,0.864961,0.886541,0.814844,0.084330,0.041159
33,C,1.000000,1.000000,1262,102,0.080824,1160,0.919176,0.113459,0.185156,-0.489752,0.041159
34,V,0.000000,0.000000,6936,882,0.127163,6054,0.872837,0.981090,0.966321,0.015168,0.008749
35,V,1.000000,1.000000,228,17,0.074561,211,0.925439,0.018910,0.033679,-0.577194,0.008749
36,W,0.000000,0.000000,7119,894,0.125579,6225,0.874421,0.994438,0.993615,0.000828,0.000114
37,W,1.000000,1.000000,45,5,0.111111,40,0.888889,0.005562,0.006385,-0.137991,0.000114
38,X,0.000000,0.000000,7118,897,0.126019,6221,0.873981,0.997775,0.992977,0.004821,0.005539
39,X,1.000000,1.000000,46,2,0.043478,44,0.956522,0.002225,0.007023,-1.149592,0.005539

In [24]:
symptom_iv.sort_values('IV')

   VAR_NAME       IV
16        W 0.000114
18        Y 0.000770
8         L 0.001274
4         H 0.004835
17        X 0.005539
13        Q 0.007272
9         M 0.008410
15        V 0.008749
6         J 0.013266
12        P 0.023506
10        N 0.025943
1         C 0.041159
0         B 0.043980
11        O 0.059034
5         I 0.060566
14        S 0.063950
7         K 0.073428
2         D 0.105957
3         F 0.133321
19        Z 0.222880