In [2]:
import pandas as pd
import numpy as np

# positive data

In [5]:
positive_condition_data = pd.read_csv(
    '/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/2week-filter/date-filter-ICD10_grouped_positive.csv'
).set_index('PERSON_ID')

In [6]:
positive_condition_data.head()

          CONCEPT_CODE group
PERSON_ID
5              M19.012     M
5              M19.011     M
5              M25.512     M
5              M25.511     M
6               E66.01     E

In [7]:
positive_condition_data = positive_condition_data.drop(['CONCEPT_CODE'], axis=1)

In [8]:
positive_condition_cat = pd.get_dummies(positive_condition_data).groupby(level=0).max()

In [12]:
positive_condition_cat.to_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/2week-filter/sum-catc-positive_rm.csv')

# Negative

In [17]:
negative_condition_data = pd.read_csv(
    '/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/2week-filter/date-filter-ICD10_grouped_negative.csv'
).set_index('PERSON_ID')

In [18]:
negative_condition_data.head()

          CONCEPT_CODE group
PERSON_ID
100003           M81.0     M
100003           K64.9     K
100003          H61.23     H
100003          H60.90     H
100003           H90.6     H

In [19]:
negative_condition_data = negative_condition_data.drop(['CONCEPT_CODE'], axis=1)

In [20]:
negative_condition_cat = pd.get_dummies(negative_condition_data).groupby(level=0).max()

In [21]:
negative_condition_cat.to_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/2week-filter/sum-catc-negative_rm.csv')