In [1]:
import pandas as pd
import numpy as np

# positive data

In [2]:
positive_condition_data = pd.read_csv(
    '/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/2week-filter/date-filter-ICD10_grouped_positive.csv'
).set_index('PERSON_ID')

In [3]:
positive_condition_data.head()

          CONCEPT_CODE group
PERSON_ID
5              M19.012     M
5              M19.011     M
5              M25.512     M
5              M25.511     M
6               E66.01     E

In [4]:
positive_condition_data = positive_condition_data.drop(['group'], axis=1)

In [5]:
positive_condition_cat = pd.get_dummies(positive_condition_data).groupby(level=0).max()

In [6]:
positive_condition_cat.head()

,CONCEPT_CODE_A04.72,CONCEPT_CODE_A41.9,CONCEPT_CODE_A48.0,CONCEPT_CODE_A59.9,CONCEPT_CODE_A60.00,CONCEPT_CODE_B18.1,CONCEPT_CODE_B18.2,CONCEPT_CODE_B19.20,CONCEPT_CODE_B20,CONCEPT_CODE_B25.9,...,CONCEPT_CODE_Z89.411,CONCEPT_CODE_Z90.49,CONCEPT_CODE_Z90.5,CONCEPT_CODE_Z90.6,CONCEPT_CODE_Z93.2,CONCEPT_CODE_Z94.0,CONCEPT_CODE_Z95.5,CONCEPT_CODE_Z98.890,CONCEPT_CODE_Z99.81,CONCEPT_CODE_Z99.89
PERSON_ID,,,,,,,,,,,,,,,,,,,,,
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
positive_condition_cat.to_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/positive_full_group_categorical.csv'
                      , index=True)

# Negative

In [8]:
negative_condition_data = pd.read_csv(
    '/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/2week-filter/date-filter-ICD10_grouped_negative.csv'
).set_index('PERSON_ID')

In [9]:
negative_condition_data.head()

          CONCEPT_CODE group
PERSON_ID
100003           M81.0     M
100003           K64.9     K
100003          H61.23     H
100003          H60.90     H
100003           H90.6     H

In [10]:
negative_condition_data = negative_condition_data.drop(['group'], axis=1)

In [11]:
negative_condition_cat = pd.get_dummies(negative_condition_data).groupby(level=0).max()

In [12]:
negative_condition_cat.head()

,CONCEPT_CODE_A04.72,CONCEPT_CODE_A04.8,CONCEPT_CODE_A08.39,CONCEPT_CODE_A08.4,CONCEPT_CODE_A08.8,CONCEPT_CODE_A18.01,CONCEPT_CODE_A31.9,CONCEPT_CODE_A40.3,CONCEPT_CODE_A40.8,CONCEPT_CODE_A41.01,...,CONCEPT_CODE_Z94.89,CONCEPT_CODE_Z95.2,CONCEPT_CODE_Z95.4,CONCEPT_CODE_Z95.5,CONCEPT_CODE_Z98.89,CONCEPT_CODE_Z98.890,CONCEPT_CODE_Z99.11,CONCEPT_CODE_Z99.3,CONCEPT_CODE_Z99.81,CONCEPT_CODE_Z99.89
PERSON_ID,,,,,,,,,,,,,,,,,,,,,
100003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100019,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
negative_condition_cat.to_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/negative_full_group_categorical.csv'
                      , index=True)